@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin '@tailwindcss/forms';

@theme {
    --font-sans: "DM Sans", sans-serif;

    /* Primary */
    --color-primary-50: #eff3ff;
    --color-primary-100: #dae2ff;
    --color-primary-200: #becdff;
    --color-primary-300: #91aeff;
    --color-primary-400: #5e84fc;
    --color-primary-500: #3758f9;
    --color-primary-600: #2237ee;
    --color-primary-700: #1a25db;
    --color-primary-800: #1c20b1;
    --color-primary-900: #1c228c;
    --color-primary-950: #161755;

    --color-primary-text: white;
    --color-neutral-brand-color: #7592ff;

    /* Text Color */
    --color-title-50: #111827;
    --color-text-50: #6b7280;
    --color-text-100: #4b5563;
    --color-text-200: #374151;
    --color-text-300: #1f2937;

    /* White */
    --color-white-100: #ffffff;
    --color-white-90: #f9fafb;
    --color-white-80: #f3f4f6;
    --color-white-70: #e5e7eb;
    --color-white-60: #d1d5db;

    /* Context Color */
    --color-error-500: #ef4444;
    --color-success-500: #22c55e;
    --color-warning-500: #eab308;
    --color-info-500: #0ea5e9;

    /* Border Color */
    --border-color-base-50: #e5e7eb;
    --border-color-base-100: #d1d5db;
    --border-color-base-200: #e5e7eb;
    --border-color-base-300: #f3f4f6;

    --color-chart-line: #e5e7eb;

    /* foreground Color */
    --color-foreground-50: #111827;
    --color-foreground-100: #1f2937;

    --color-foreground-soft-50: #374151;
    --color-foreground-soft-100: #4b5563;
    --color-foreground-soft-200: #6b7280;
    --color-foreground-soft-300: #9ca3af;
    --color-foreground-soft-400: #d1d5db;
    --color-foreground-soft-500: #e5e7eb;

    /* Background Color */
    --color-background-50: #ffffff;
    --color-background-100: #f9fafb;
    --color-background-soft-50: #f9fafb;
    --color-background-soft-100: #f3f4f6;
    --color-background-soft-200: #e5e7eb;
    --color-background-soft-300: #ffffff;
    --color-background-soft-400: #f9fafb;
    --color-background-soft-500: #f3f4f6;

    --color-background-success-600: #16a34a;

    /* ======== Button Color For Light =========*/

    /* Button Primary Color */
    --color-button-primary-background: #3758f9;
    --color-button-primary-hover-background: #2237ee;
    --color-button-primary-text: #ffffff;
    --color-button-primary-focus-ring: rgba(55, 88, 249, 0.2);

    /* Outline Light */
    --color-button-outline-background: #ffffff;
    --color-button-outline-hover-background: #f9fafb;
    --color-button-outline-border: #e5e7eb;
    --color-button-outline-focus-ring: rgba(55, 88, 249, 0.1);
    --color-button-outline-text: #374151;
    --color-button-outline-hover-text: #111827;
    --color-button-outline-disabled-background: #f3f4f6;
    --color-button-outline-disabled-text: #d1d5db;
    --color-button-outline-disabled-border: #e5e7eb;

    /* Disabled */
    --color-button-disabled-background: #f3f4f6;
    --color-button-disabled-border: #e5e7eb;
    --color-button-disabled-text: #d1d5db;

    /* Error */
    --color-button-error-background: #dc2626;
    --color-button-error-hover-background: #b91c1c;
    --color-button-error-border: #ef4444;
    --color-button-error-text: #ffffff;
    --color-button-error-focus-ring: rgba(220, 38, 38, 0.2);

    /* Error Outline Light */
    --color-button-error-outline-background: #fef2f2;
    --color-button-error-outline-border: #fecaca;
    --color-button-error-outline-focus-border: #fca5a5;
    --color-button-error-outline-hover-background: #fee2e2;
    --color-button-error-outline-text: #dc2626;
    --color-button-error-outline-hover-text: #b91c1c;
    --color-button-error-outline-focus-ring: rgba(220, 38, 38, 0.1);

    /* Success */
    --color-button-success-background: #16a34a;
    --color-button-success-border: #22c55e;
    --color-button-success-hover-background: #15803d;
    --color-button-success-text: #ffffff;
    --color-button-success-focus-ring: rgba(22, 163, 74, 0.2);

    /* Success Outline Light */
    --color-button-success-outline-background: #f0fdf4;
    --color-button-success-outline-border: #bbf7d0;
    --color-button-success-outline-focus-border: #86efac;
    --color-button-success-outline-hover-background: #dcfce7;
    --color-button-success-outline-text: #16a34a;
    --color-button-success-outline-hover-text: #15803d;
    --color-button-success-outline-focus-ring: rgba(22, 163, 74, 0.1);

    /* Ghost */
    --color-button-ghost-text: #6b7280;
    --color-button-ghost-hover-text: #374151;
    --color-button-ghost-hover-background: #f9fafb;

    /* Button Group Primary */
    --color-button-group-primary-background: #ffffff;
    --color-button-group-primary-hover-background: #3758f9;
    --color-button-group-primary-text: #3758f9;
    --color-button-group-primary-hover-text: #ffffff;

    /* Button Group Secondary */
    --color-button-group-secondary-background: #f3f4f6;
    --color-button-group-secondary-text: #6b7280;

    /* ======== Badge Color For Light =========*/

    /* Badge Neutral */
    --color-badge-neutral-background: #f3f4f6;
    --color-badge-neutral-text: #374151;
    --color-badge-neutral-icon-color: #6b7280;

    /* Badge Primary */
    --color-badge-primary-background: #eff3ff;
    --color-badge-primary-text: #3758f9;
    --color-badge-primary-icon-color: #5e84fc;

    /* Badge Error */
    --color-badge-error-background: #fef2f2;
    --color-badge-error-text: #dc2626;
    --color-badge-error-icon-color: #ef4444;

    /* Badge Warning */
    --color-badge-warning-background: #fefce8;
    --color-badge-warning-text: #ca8a04;
    --color-badge-warning-icon-color: #eab308;

    /* Badge Success */
    --color-badge-success-background: #f0fdf4;
    --color-badge-success-text: #16a34a;
    --color-badge-success-icon-color: #22c55e;

    /* Badge Cyan */
    --color-badge-cyan-background: #ecfeff;
    --color-badge-cyan-text: #0891b2;
    --color-badge-cyan-icon-color: #06b6d4;

    /* Badge Sky */
    --color-badge-sky-background: #f0f9ff;
    --color-badge-sky-text: #0284c7;
    --color-badge-sky-icon-color: #0ea5e9;

    /* Badge Blue */
    --color-badge-blue-background: #eff6ff;
    --color-badge-blue-text: #2563eb;
    --color-badge-blue-icon-color: #3b82f6;

    /* Badge Violet */
    --color-badge-violet-background: #f5f3ff;
    --color-badge-violet-text: #7c3aed;
    --color-badge-violet-icon-color: #8b5cf6;

    /* Badge Purple */
    --color-badge-purple-background: #faf5ff;
    --color-badge-purple-text: #9333ea;
    --color-badge-purple-icon-color: #a855f7;

    /* Badge Pink */
    --color-badge-pink-background: #fdf2f8;
    --color-badge-pink-text: #db2777;
    --color-badge-pink-icon-color: #ec4899;

    /* Badge Rose */
    --color-badge-rose-background: #fff1f2;
    --color-badge-rose-text: #e11d48;
    --color-badge-rose-icon-color: #f43f5e;

    /* Badge Orange */
    --color-badge-orange-background: #fff7ed;
    --color-badge-orange-text: #ea580c;
    --color-badge-orange-icon-color: #f97316;

    /* ======== Chart =========*/

    --color-chart-tick: var(--color-text-50);
    --color-chart-legend: var(--color-text-50);
    --color-chart-grid: var(--border-color-base-100);

    /* ======== Sidebar For Light =========*/

    /* Nav Item */
    --color-sidebar-nav-default-background: #ffffff;
    --color-sidebar-nav-hover-background: #f9fafb;
    --color-sidebar-nav-secondary-hover-background: #f3f4f6;
    --color-sidebar-nav-hover-text: #111827;
    --color-sidebar-nav-active-text: #3758f9;
    --color-sidebar-nav-active-background: #eff3ff;
    --color-sidebar-nav-focused-background: #eff3ff;
    --color-sidebar-nav-default-text: #374151;
    --color-sidebar-nav-icon: #6b7280;

    /* Sidebar Badge */
    --color-sidebar-badge-background: #3758f9;
    --color-sidebar-badge-text: #ffffff;

    /* Sidebar Footer */
    --color-sidebar-footer-background: #f9fafb;
    --color-sidebar-footer-title: #111827;
    --color-sidebar-footer-subtitle: #6b7280;
    --color-sidebar-footer-button-text: #374151;

    /* ======== Card Color For Light =========*/
    --color-card-background-50: #ffffff;
    --color-card-background-100: #f9fafb;
    --color-card-background-200: #f3f4f6;
    --color-card-background-300: #ffffff;

    /* ======== Alert Success Color For Light =========*/
    --color-alert-success-background: #f0fdf4;
    --color-alert-success-icon-background: #16a34a;
    --color-alert-success-border: #bbf7d0;
    --color-alert-success-close-icon: #16a34a;
    --color-alert-success-title: #15803d;
    --color-alert-success-description: #16a34a;
    --color-alert-success-button-background: #22c55e;
    --color-alert-success-button-hover-background: #16a34a;
    --color-alert-success-button-text: #ffffff;

    /* ======== Alert Danger Color For Light =========*/
    --color-alert-danger-background: #fef2f2;
    --color-alert-danger-icon-background: #dc2626;
    --color-alert-danger-border: #fecaca;
    --color-alert-danger-close-icon: #b91c1c;
    --color-alert-danger-title: #b91c1c;
    --color-alert-danger-description: #dc2626;
    --color-alert-danger-button-background: #ef4444;
    --color-alert-danger-button-hover-background: #dc2626;
    --color-alert-danger-button-text: #ffffff;

    /* ======== Alert Info Color For Light =========*/
    --color-alert-info-background: #f0f9ff;
    --color-alert-info-icon-background: #0284c7;
    --color-alert-info-border: #bae6fd;
    --color-alert-info-close-icon: #0284c7;
    --color-alert-info-title: #0369a1;
    --color-alert-info-description: #0284c7;
    --color-alert-info-button-background: #0ea5e9;
    --color-alert-info-button-hover-background: #0284c7;
    --color-alert-info-button-text: #ffffff;

    /* ======== Alert Warning Color For Light =========*/
    --color-alert-warning-background: #fefce8;
    --color-alert-warning-icon-background: #ca8a04;
    --color-alert-warning-border: #fef08a;
    --color-alert-warning-close-icon: #ca8a04;
    --color-alert-warning-title: #a16207;
    --color-alert-warning-description: #ca8a04;
    --color-alert-warning-button-background: #eab308;
    --color-alert-warning-button-hover-background: #ca8a04;
    --color-alert-warning-button-text: #ffffff;

    /* ======== Alert Default Color For Light =========*/
    --color-alert-default-background: #f9fafb;
    --color-alert-default-icon-background: #6b7280;
    --color-alert-default-border: #e5e7eb;
    --color-alert-default-close-icon: #6b7280;
    --color-alert-default-title: #374151;
    --color-alert-default-description: #6b7280;
    --color-alert-default-button-background: #6b7280;
    --color-alert-default-button-hover-background: #4b5563;
    --color-alert-default-button-text: #ffffff;

    /* ======== Input Color For Light =========*/
    --color-input-background: #ffffff;
    --color-input-label-text: #374151;
    --color-input-disabled-text: #d1d5db;
    --color-input-placeholder-text: #9ca3af;
    --color-input-primary-focus-border: #3758f9;
    --color-input-error-focus-border: #dc2626;
    --color-input-success-focus-border: #16a34a;
    --color-input-error: #dc2626;
    --color-input-success: #16a34a;

    /* ======== Tab Color For Light =========*/
    --color-tab-background: #f9fafb;
    --color-tab-active-background: #ffffff;
    --color-tab-secondary-active-background: #eff3ff;

    /* ======== Checkbox Color For Light =========*/
    --color-checkbox-background: #ffffff;
    --color-checkbox-checked-border: #3758f9;
    --color-checkbox-checked-background: #3758f9;
    --color-checkbox-checked-icon-color: #ffffff;

    /* ======== Scrollbar Color For Light =========*/
    --color-scrollbar-background: #e5e7eb;

    /* ======== Datepicker Color For Light =========*/
    --color-datepicker-background: #ffffff;
    --color-datepicker-selected-background: #3758f9;
    --color-datepicker-selected-hover-background: #f9fafb;

    /* ======== Dropdowns Color For Light =========*/
    --color-dropdown-background: #ffffff;
    --color-dropdown-hover-background: #f9fafb;
    --color-dropdown-secondary-background: #f9fafb;
    --color-dropdown-divider: #e5e7eb;

    /* ======== Calendar Color For Light =========*/
    --color-calendar-primary-badge: #3758f9;
    --color-calendar-primary-background: #eff3ff;
    --color-calendar-success-badge: #22c55e;
    --color-calendar-success-background: #f0fdf4;
    --color-calendar-warning-badge: #f97316;
    --color-calendar-warning-background: #fff7ed;
    --color-calendar-danger-badge: #ef4444;
    --color-calendar-danger-background: #fef2f2;
    --color-calendar-info-badge: #0ba5ec;
    --color-calendar-info-background: #f0f9ff;
    --color-calendar-text: #374151;
    --color-calendar-menu-text: #6b7280;
    --color-calendar-dropdown-background: #ffffff;

    /* ======== Pricing Table Color For Light =========*/
    --color-pricing-active-switcher-background: #f3f4f6;
    --color-pricing-active-card-background: #f9fafb;
    --color-pricing-button-background: #f3f4f6;
    --color-pricing-icon-color: #3758f9;
    --color-pricing-icon-background: #eff3ff;

    /* ======== FAQ's Color For Light =========*/
    --color-faq-primary-active-background: #f9fafb;
    --color-faq-secondary-active-background: #eff3ff;
    --color-faq-secondary-active-border: #dae2ff;
    --color-faq-secondary-active-title: #111827;
    --color-faq-secondary-active-text: #374151;

    /* ======== Chat List Color For Light =========*/
    --color-chat-list-background-primary: #f9fafb;
    --color-chat-list-background-primary-alt: #f3f4f6;
    --color-chat-list-background-secondary: #3758f9;
    --color-chat-list-background-secondary-alt: #eff3ff;

    /* ======== Tooltip Color For Light =========*/
    --color-tooltip-text: #111827;
    --color-tooltip-border: #e5e7eb;

    /* ======== Popovers Color For Light =========*/
    --color-popover-title-background: #f9fafb;
    --color-popover-border: #e5e7eb;

    /* ======== Skeleton Color For Light =========*/
    --color-skeleton-gradient-50: #e5e7eb;
    --color-skeleton-gradient-100: #f3f4f6;
    --color-skeleton-gradient-200: #e5e7eb;

    /* ======== 404 Page Color For Light =========*/
    --color-404-background: #f9fafb;
    --color-404-foreground: #e5e7eb;

    /* ======== Blogs Color For Light =========*/
    --color-blog-shape: #e5e7eb;

    /* ======== Modal Color For Light =========*/
    --color-modal-button-success-background: #22c55e;
    --color-modal-button-info-background: #0ea5e9;
    --color-modal-button-warning-background: #eab308;
    --color-modal-button-error-background: #ef4444;

    /* ======== Section Title Color For Light =========*/
    --color-section-title-badge: #3758f9;
    --color-section-title-badge-background: #eff3ff;

    /* ======== Mobile Nav Menu Button Color For Light =========*/
    --color-mobile-nav-icon: #374151;
    --color-mobile-nav-background: #ffffff;
    --color-mobile-nav-hover-background: #f9fafb;

    /* ======== Footer Color For Light =========*/
    --color-footer-card-background: #f9fafb;
    --color-footer-background: #ffffff;

    /* ======== Bento Color For Light =========*/
    --color-bento-card-background: #ffffff;
    --color-bento-gradient-shade-1: #ffffff;
    --color-bento-gradient-shade-2: #f9fafb;
    --color-bento-gradient-shade-3: #f3f4f6;

    /* ======== CTA Color For Light =========*/
    --color-cta-icon-background: #f9fafb;
    --color-cta-background: #ffffff;

    /* ======== Hero Color For Light =========*/
    --color-hero-background: #ffffff;
    --color-hero-card-background: #f9fafb;
    --color-hero-card-2-background: #f3f4f6;
    --color-hero-gradient-shade-1: #ffffff;
    --color-hero-gradient-shade-2: #f9fafb;

    /* ======== Toggle Color For Light =========*/
    --color-toggle-default-background: #d1d5db;
    --color-toggle-disabled-foreground: #9ca3af;
    --color-toggle-disabled-background: #f3f4f6;
    --color-toggle-active-background: #3758f9;

    /* ======== Map Color For Light =========*/
    --color-map-fill: #9ca3af;

    /* ======== AI Sidebar Gradient Color For Light =========*/
    --color-ai-sidebar-primary-gradient-shade-1: #ffffff;
    --color-ai-sidebar-primary-gradient-shade-2: #ffffff00;
    --color-ai-sidebar-secondary-gradient-shade-1: #ffffff;
    --color-ai-sidebar-secondary-gradient-shade-2: #ffffff00;

    /* ======== AI Sidebar Hover/Title/Hero Color For Light =========*/
    --color-ai-sidebar-hover-primary-shade-1: #f9fafb;
    --color-ai-sidebar-hover-primary-shade-2: #f9fafb00;
    --color-ai-sidebar-hover-secondary-shade-1: #f9fafb;
    --color-ai-sidebar-hover-secondary-shade-2: #f9fafb00;
    --color-ai-sidebar-hover-primary-background: #f9fafb;
    --color-ai-sidebar-hover-secondary-background: #f9fafb;
    --color-ai-title-gradient-shade-1: #111827;
    --color-ai-title-gradient-shade-2: #6b7280;
    --color-ai-hero-blend-1: #f9fafb;
    --color-ai-hero-blend-2: #f9fafb00;

    /* Shadows */
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-sm: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
    --shadow-md:
        0px 4px 8px -2px rgba(16, 24, 40, 0.1),
        0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    --shadow-lg:
        0px 12px 16px -4px rgba(16, 24, 40, 0.08),
        0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    --shadow-xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-2xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --shadow-3xl: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --drop-shadow-theme-3xl: 0 32px 64px rgba(16, 24, 40, 0.14);
    --popover-shadow: 0px 5px 5px -2px rgba(16, 24, 40, 0.04);
    --shadow-hero: 0px -14px 100px 0px rgba(0, 0, 0, 0.05);

    --animate-pulse-custom: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
}
